body {
	text-align: center;
}

.navbar-brand {
	padding-left: 20px;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
}

.nav-link {
	color: white !important;
}

.active .nav-link {
	color:  rgba(223, 181, 43, 0.8) !important;
}

nav {
	border-bottom: 1px outset rgba(223, 181, 43, 0.6);
}

.toggler-gold .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 181, 43, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.social-icon {
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-size: 2em;
	color: rgba(223, 181, 43, 0.7);
}

.social-icon:visited {
    color: rgba(223, 181, 43, 0.7);
}

.social-icon:hover {
    color: rgba(223, 181, 43, 1);
}